body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.contenu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 720px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 20px;
  }
}
section {
  padding-top: 40px;
}
section__color1 {
  background-color: white;
}

.section_color1 {
  background-color: white;
}

.section_color2 {
  background-color: #f3f3f3;
}

a {
  text-decoration: none;
  color: black;
}

header,
footer {
  background-color: #dddddd;
  height: 50px;
}
@media screen and (max-width: 1080px) {
  header,
footer {
    height: 30px;
  }
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px #dddddd;
}

.entete {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}
@media screen and (max-width: 720px) {
  .entete {
    padding: 6px 0 0 0;
    align-items: baseline;
  }
}
.entete_nom {
  font-size: 1.5rem;
}
@media screen and (max-width: 1080px) {
  .entete_nom {
    font-size: 1rem;
    padding-left: 10px;
    min-width: 160px;
  }
}

.btn {
  display: none;
}

.menu_sections {
  font-size: 1.1rem;
}
.menu_sections_lien {
  padding: 6px;
}
.menu_sections_lien:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1080px) {
  .btn {
    display: block;
    margin: 0 10px 0 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .menu_sections {
    display: none;
    flex-direction: column;
    background: #dddddd;
    padding: 10px;
    box-shadow: 0px 2px 2px #dddddd;
  }
  .menu_sections_lien {
    text-align: right;
  }
}
.contenu_presentation {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 720px) {
  .contenu_presentation {
    flex-direction: column;
  }
}
.photo {
  max-width: 400px;
}
@media screen and (max-width: 720px) {
  .photo {
    width: 100%;
  }
}
.photo_contener {
  margin: auto;
}

.presentation_texte {
  text-align: justify;
  font-size: 1.3rem;
  margin: 0 20px 20px;
}
@media screen and (max-width: 720px) {
  .presentation_texte {
    margin: 20px 0 20px;
    font-size: 1.1rem;
  }
}

.presentation_logo {
  display: flex;
  justify-content: space-around;
}

.contenu_competences {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.contenu_competences_details {
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  min-width: 45%;
  flex: auto;
  margin: 20px;
  padding: 10px;
}
@media screen and (max-width: 720px) {
  .contenu_competences_details {
    border-radius: 0;
    margin: 20px 0 20px 0;
  }
}
.contenu_competences_details_annexes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media screen and (max-width: 720px) {
  .contenu_competences_details_annexes {
    flex-direction: column;
  }
}
.contenu_competences_details_annexes_vignette {
  min-width: 50%;
}

.contenu_projets {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.nom_projet {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: #f3f3f3;
}
@media screen and (max-width: 720px) {
  .nom_projet {
    border-radius: 0;
    margin: 20px 0 20px 0;
  }
}
.nom_projet_description {
  display: flex;
}
@media screen and (max-width: 720px) {
  .nom_projet_description {
    flex-direction: column;
  }
}
.nom_projet_description_visu {
  max-width: 50%;
  flex: 1;
}
@media screen and (max-width: 720px) {
  .nom_projet_description_visu {
    max-width: 100%;
  }
}
.nom_projet_description_details {
  margin: 0;
  padding: 10px;
  flex: 1;
}
.nom_projet_description_details_titre {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
  text-align: center;
}
.nom_projet_description_details_soustitre {
  margin: 0;
  padding-top: 10px;
}
.nom_projet_description_details_plus {
  margin: 0;
}
.nom_projet_description_details_liens {
  display: flex;
}
.nom_projet_description_details_liens1 {
  flex: 1;
  text-align: center;
  padding-top: 10px;
}

.img_projet {
  width: 100%;
}

.nom_pro {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: white;
}
@media screen and (max-width: 720px) {
  .nom_pro {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0;
    margin: 20px 0 20px 0;
    padding: 10px;
  }
}

.contenu_pro {
  padding-bottom: 1px;
}

.titre_gauche {
  text-align: left;
}

.nom_form {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: #f3f3f3;
}
@media screen and (max-width: 720px) {
  .nom_form {
    border-radius: 0px;
    margin: 20px 0 20px 0;
  }
}

.contenu_interet {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
}
.contenu_interet_details {
  background-color: white;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  max-width: 45%;
  flex: auto;
  margin: 20px;
  padding: 10px;
  text-align: center;
}

@media screen and (max-width: 1080px) {
  .contenu_interet_details {
    max-width: 100%;
  }
}
@media screen and (max-width: 720px) {
  .contenu_interet_details {
    border-radius: 0px;
    margin: 20px 0 20px 0;
  }
}
.apel_p {
  max-height: 200px;
}

.apel_g {
  max-height: 130px;
}

.img_loisirs {
  max-height: 130px;
}

.contenu_footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1080px) {
  .contenu_footer {
    padding-top: 7px;
  }

  .contenu_footer_texte {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
