// ---------------------------- COMMUN ---------------------------- //

body {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 20px;
  text-align: center;
}

.contenu {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1 {
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
}

h2 {
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
}

h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

@include mobile {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 20px;
  }
}

section {
  padding-top: 40px;

  &__color1 {
    background-color: $couleur_fond1;
  }
}

.section_color1 {
  background-color: $couleur_fond1;
}

.section_color2 {
  background-color: $couleur_fond2;
}

a {
  text-decoration: none;
  color: black;
}

// ---------------------------------------------------------------- //

// ---------------------------- ENTETE ---------------------------- //

header,
footer {
  background-color: rgb(221, 221, 221);
  height: 50px;

  @include tablette {
    height: 30px;
  }
}

header {
  position: sticky;
  top: 0;
  box-shadow: 0px 2px 2px rgb(221, 221, 221);
}

.entete {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;

  @include mobile {
    padding: 6px 0 0 0;
    align-items: baseline;
  }

  &_nom {
    font-size: 1.5rem;

    @include tablette {
      font-size: 1rem;
      padding-left: 10px;
      min-width: 160px;
    }
  }
}

//                   menu déroulant           //

.btn {
  display: none;
}

.menu_sections {
  font-size: 1.1rem;

  &_lien {
    padding: 6px;

    &:hover {
      text-decoration: underline;
    }
  }
}

@include tablette {
  .btn {
    display: block;
    margin: 0 10px 0 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: end;

    &_sections {
      display: none;
      flex-direction: column;
      background: #dddddd;
      padding: 10px;
      box-shadow: 0px 2px 2px rgb(221, 221, 221);

      &_lien {
        text-align: right;
      }
    }
  }
}

// ---------------------------------------------------------------- //

// ---------------------------- PRESENTATION ---------------------------- //

.contenu_presentation {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

@include mobile {
  .contenu_presentation {
    flex-direction: column;
  }
}

.photo {
  max-width: 400px;

  @include mobile {
    width: 100%;
  }

  &_contener {
    margin: auto;
  }
}

.presentation_texte {
  text-align: justify;
  font-size: 1.3rem;
  margin: 0 20px 20px;

  @include mobile {
    margin: 20px 0 20px;
    font-size: 1.1rem;
  }
}

.presentation_logo {
  display: flex;
  justify-content: space-around;
}

// ---------------------------------------------------------------- //

// ---------------------------- COMP ---------------------------- //

.contenu_competences {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  img {
    width: 500px;
    height: 50px;
  }

  &_details {
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    min-width: 45%;
    flex: auto;
    margin: 20px;
    padding: 10px;

    @include mobile {
      border-radius: 0;
      margin: 20px 0 20px 0;
    }

    &_annexes {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      @include mobile {
        flex-direction: column;
      }

      &_vignette {
        min-width: 50%;
      }
    }
  }
}

// -------------------------------------------------- //

// ---------------------------- PROJETS ---------------------------- //

.contenu_projets {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.nom_projet {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(243, 243, 243);

  @include mobile {
    border-radius: 0;
    margin: 20px 0 20px 0;
  }

  &_description {
    display: flex;

    @include mobile {
      flex-direction: column;
    }

    &_visu {
      max-width: 50%;
      flex: 1;

      @include mobile {
        max-width: 100%;
      }
    }

    &_details {
      margin: 0;
      padding: 10px;
      flex: 1;

      &_titre {
        margin: 0;
        padding: 0;
        padding-bottom: 10px;
        text-align: center;
      }
      &_soustitre {
        margin: 0;
        padding-top: 10px;
      }

      &_plus {
        margin: 0;
      }

      &_liens {
        display: flex;
      }

      &_liens1 {
        flex: 1;
        text-align: center;
        padding-top: 10px;
      }
    }
  }
}

.img_projet {
  width: 100%;
}

// -------------------------------------------------- //

// ---------------------------- PARCOURS PRO ---------------------------- //

.nom_pro {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: white;

  @include mobile {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 0;
    margin: 20px 0 20px 0;
    padding: 10px;
  }
}

.contenu_pro {
  padding-bottom: 1px;
}

.titre_gauche {
  text-align: left;
}

// -------------------------------------------------- //

// ---------------------------- FORM --------------------------- //

.nom_form {
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
  border-radius: 15px;
  margin: 20px;
  padding: 10px;
  background-color: rgb(243, 243, 243);

  @include mobile {
    border-radius: 0px;
    margin: 20px 0 20px 0;
  }
}

// -------------------------------------------------- //

// ---------------------------- INTERETS ---------------------------- //

.contenu_interet {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;

  &_details {
    background-color: white;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    max-width: 45%;
    flex: auto;
    margin: 20px;
    padding: 10px;
    text-align: center;
  }
}

@include tablette {
  .contenu_interet_details {
    max-width: 100%;
  }
}

@include mobile {
  .contenu_interet_details {
    border-radius: 0px;
    margin: 20px 0 20px 0;
  }
}

.apel_p {
  max-height: 200px;
}

.apel_g {
  max-height: 130px;
}

.img_loisirs {
  max-height: 130px;
}

// -------------------------------------------------- //

// ---------------------------- PIEDS ---------------------------- //

.contenu_footer {
  display: flex;
  justify-content: center;
}

@include tablette {
  .contenu_footer {
    padding-top: 7px;
  }

  .contenu_footer_texte {
    margin: 0;
  }
}

// ---------------------------------------------------------------- //
